.app-home {
    padding: 16px;
}

.mdl-card__supporting-text.meta {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);

}

.app-border {
  display: block;
  content: "";
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

